* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

a {
  text-decoration: none;
  color: beige;
}

h1 {
  justify-self: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: beige;
  font-size: 20px;
  background-color: rgb(75, 119, 119);
}

.logo {
  padding: 0 10px;
}
.right-header {
  display: flex;
  padding: 0px 10px;
  gap: 20px;
}

main {
  width: 100vw;
  /* border: solid; */
  /* margin: 0px auto; */
  background-color: rgb(96, 23, 12);
}

.container {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 1200px;
  padding: 1rem 0;
  gap: 1rem;
  /* align-self: center; */
  /* border: solid; */
}

.card {
  /* border: 1px solid black; */
  border-radius: 10px;
  background-color: rgba(82, 96, 172, 0.475);
  width: 285px;
  height: 450px;
  padding: 10px 0;
  color: white;
}

.poster {
  width: 250px;
  height: 390px;
  justify-self: center;
  background-position: center;
  background-size: cover;
}

.movie-info {
  /* border: solid; */
  padding: 5px 15px;
}

/* movie details */
.flex-container {
  display: flex;
  justify-content: space-evenly;
  color: white;
  margin: 0px auto;
  gap: 1rem;
  padding: 20px;
}

.movie-Backdrop {
  min-height: 100vh;
  justify-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.back-btn {
  border: none;
  color: white;
  background-color: rgb(95, 37, 37);
  margin: 20px;
  border-radius: 15px;
  padding: 1rem 3rem;
}

.details-poster {
  width: 400px;
  height: 570px;
  justify-self: center;
  background-position: center;
  background-size: cover;
}

.details-right {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  font-size: 18px;
  border: solid rgba(255, 255, 255, 0.281);
  border-radius: 1rem;
  max-width: 60%;
  padding: 2rem;
  /* margin-left: 30rem; */
}

.details-right h2 {
  align-self: center;
  margin-bottom: 1rem;
}

.details-right div,
.details-right a {
  margin: 0.5rem;
}

.details-right a {
  text-align: center;
  width: 200px;
  border: solid white;
  border-radius: 10px;
  padding: 1rem;
}

@media (max-width: 1250px) {
  .container {
    width: 900px;
  }

  .flex-container {
    /* flex-direction: column; */
    gap: 10px;
  }

  .details-poster {
    height: 550px;
    width: 370px;
  }

  .details-right {
    /* margin-left: 4rem; */
    max-width: 50%;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 600px;
  }
  
  .flex-container {
    flex-direction: column;
    gap: 20px;
    padding: 30px;
  }

  .details-poster {
    margin: 0 auto;
    border-radius: 10px;
  }

  .details-right {
    /* margin-left: 20rem; */
    max-width: 100%;
    /* padding-bottom: 10rem; */
  }
}

@media (max-width: 650px) {
  .container {
    width: 300px;
  }
  
  .flex-container{
    padding: 10px;
  }
}
